@charset "UTF-8";
/*工具类*/
.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::after {
  /*设置添加的子元素的内容为空*/
  content: "";
  /*设置添加的子元素为块级元素*/
  display: block;
  /*设置添加的子元素的高度为0*/
  height: 0;
  /*设置添加的子元素看不见*/
  visibility: hidden;
  /*给添加的子元素设置clear: both;*/
  clear: both;
}

.clearfix {
  /*兼容IE6*/
  *zoom: 1;
}

/*全局配置*/
body{
  font: 12px/1.6 tahoma,arial,sans-serif;
  color: #333;
  background: #f7f7f7;
}

.nav{
  .nav-in{
    width: 1690px;
    height: 100%;
    margin: 0 auto;
  }
  .nav-top{
    width: 100%;
    height: 33px;
    border-bottom: 1px solid #ccc;
    ul{
      display: flex;
      justify-content: left;
      align-items: center;
      height: 100%;
      li{
        margin: 0 10px;
        color: #ccc;
        a{
          color: #ccc;
          i{
            color: pink;
            font-size: 10px;
            margin-right: 5px;
          }
        }
        &:last-child{
          a{
            i{
              color: #ccc;
            }
          }
        }
      }
    }
  }
  .nav-bottom{
    width: 100%;
    height: 100px;
    .nav-in{
      display: flex;
      justify-content: left;
      align-items: center;
      .logo{
        img{
          vertical-align: bottom;
        }
      }
      .menu{
        font-size: 15px;
        margin-left: 30px;
        i{
          font-size: 20px;
        }
      }
      .search{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-left: 283px;
        input{
          border: none;
          outline: none;
        }
        input[type=text]{
          width: 650px;
          height: 48px;
          line-height: 48px;
          background: #f7f7f7;
          padding-left: 10px;
          box-sizing: border-box;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
        input[type=submit]{
          width: 58px;
          height: 48px;
          background: url("./../images/search-btn.png") no-repeat;
        }
      }
      .list{
        display: flex;
        justify-content: left;
        align-items: center;
        height: 100%;
        margin-left: 30px;
        li{
          margin-left: 30px;
          text-align: center;
          i{
            font-size: 30px;
          }
        }
      }
      .login{
        margin-left: 100px;
        a{
          color: #333;
          img{
            vertical-align: middle;
          }
        }
      }
    }
  }
}
.nav2{
  width: 100%;
  position: fixed;
  left: 0;
  top: -100px;
  transition: all 1s linear 0s;
  background: #fff;
  .nav-bottom{
    .menu{
      visibility: hidden;
    }
  }
}
