@charset "UTF-8";
/*工具类*/
.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::after {
  /*设置添加的子元素的内容为空*/
  content: "";
  /*设置添加的子元素为块级元素*/
  display: block;
  /*设置添加的子元素的高度为0*/
  height: 0;
  /*设置添加的子元素看不见*/
  visibility: hidden;
  /*给添加的子元素设置clear: both;*/
  clear: both;
}

.clearfix {
  /*兼容IE6*/
  *zoom: 1;
}

/*全局配置*/
body{
  font: 12px/1.6 tahoma,arial,sans-serif;
  color: #333;
  background: #f7f7f7;
}

.nav{
  .nav-in{
    width: 1690px;
    height: 100%;
    margin: 0 auto;
    background: skyblue;
  }
  .nav-top{
    width: 100%;
    height: 33px;
    border-bottom: 1px solid #ccc;
    background: red;
    ul{
      display: flex;
      justify-content: left;
      align-items: center;
      height: 100%;
      li{
        margin: 0 10px;
        a{
          color: #ccc;
          i{
            color: pink;
            font-size: 10px;
            margin-right: 5px;
          }
        }
        &:last-child{
          a{
            i{
              color: #ccc;
            }
          }
        }
      }
    }
  }
  .nav-bottom{
    width: 100%;
    height: 100px;
    background: blue;
  }
}
