@charset "UTF-8";
/*工具类*/
.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::after {
  /*设置添加的子元素的内容为空*/
  content: "";
  /*设置添加的子元素为块级元素*/
  display: block;
  /*设置添加的子元素的高度为0*/
  height: 0;
  /*设置添加的子元素看不见*/
  visibility: hidden;
  /*给添加的子元素设置clear: both;*/
  clear: both;
}

.clearfix {
  /*兼容IE6*/
  *zoom: 1;
}

/*全局配置*/
body {
  font: 12px/1.6 tahoma,arial,sans-serif;
  color: #333;
  background: #f7f7f7;
}

/*顶部导航*/
.nav {
  margin-bottom: 30px;
  background: #fff;
}
.nav .nav-in {
  width: 1690px;
  height: 100%;
  margin: 0 auto;
}
.nav .nav-top {
  width: 100%;
  height: 33px;
  border-bottom: 1px solid #ccc;
}
.nav .nav-top ul {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
}
.nav .nav-top ul li {
  margin: 0 10px;
  color: #ccc;
}
.nav .nav-top ul li a {
  color: #ccc;
}
.nav .nav-top ul li a i {
  color: pink;
  font-size: 10px;
  margin-right: 5px;
}
.nav .nav-top ul li:last-child a i {
  color: #ccc;
}
.nav .nav-bottom {
  width: 100%;
  height: 100px;
}
.nav .nav-bottom .nav-in {
  display: flex;
  justify-content: left;
  align-items: center;
}
.nav .nav-bottom .nav-in .logo img {
  vertical-align: bottom;
}
.nav .nav-bottom .nav-in .menu {
  font-size: 15px;
  margin-left: 30px;
}
.nav .nav-bottom .nav-in .menu i {
  font-size: 20px;
}
.nav .nav-bottom .nav-in .search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 283px;
}
.nav .nav-bottom .nav-in .search input {
  border: none;
  outline: none;
}
.nav .nav-bottom .nav-in .search input[type=text] {
  width: 650px;
  height: 48px;
  line-height: 48px;
  background: #f7f7f7;
  padding-left: 10px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.nav .nav-bottom .nav-in .search input[type=submit] {
  width: 58px;
  height: 48px;
  background: url("./../images/search-btn.png") no-repeat;
}
.nav .nav-bottom .nav-in .list {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
  margin-left: 30px;
}
.nav .nav-bottom .nav-in .list li {
  margin-left: 30px;
  text-align: center;
}
.nav .nav-bottom .nav-in .list li i {
  font-size: 30px;
}
.nav .nav-bottom .nav-in .login {
  margin-left: 100px;
}
.nav .nav-bottom .nav-in .login a {
  color: #333;
}
.nav .nav-bottom .nav-in .login a img {
  vertical-align: middle;
}

.nav2 {
  width: 100%;
  position: fixed;
  left: 0;
  top: -100px;
  z-index: 999;
  transition: all 1s linear 0s;
  background: #fff;
}
.nav2 .nav-bottom .menu {
  visibility: hidden;
}

.main {
  width: 100%;
}
.main .main-in {
  width: 1690px;
  margin: 0 auto;
  position: relative;
}
.main .main-in .item {
  float: left;
  padding: 0 10px;
}
.main .main-in .item .item-box {
  width: 220px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  left: 0;
  top: 0;
  transition: top 0.3s linear 0s;
}
.main .main-in .item .item-box .item-top {
  position: relative;
}
.main .main-in .item .item-box .item-top > img {
  width: 100%;
}
.main .main-in .item .item-box .item-top .play {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 666;
}
.main .main-in .item .item-box .item-top .title {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 10px;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  color: #fff;
}
.main .main-in .item .item-box .item-top .title img {
  margin-right: 5px;
  vertical-align: text-bottom;
}
.main .main-in .item .item-box .item-top .mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.main .main-in .item .item-box .item-top .mask ul {
  position: absolute;
  top: 10px;
  right: 10px;
}
.main .main-in .item .item-box .item-top .mask ul li {
  width: 42px;
  height: 42px;
  background: url("./../images/icons.png") no-repeat;
}
.main .main-in .item .item-box .item-top .mask ul li:nth-child(1) {
  background-position: -5px -5px;
  margin-bottom: 10px;
}
.main .main-in .item .item-box .item-top .mask ul li:nth-child(1) span {
  height: 16px;
  line-height: 16px;
  padding: 0 4px;
  border-radius: 8px;
  background: #f46;
  position: absolute;
  top: -4px;
  right: -4px;
  color: #fff;
}
.main .main-in .item .item-box .item-top .mask ul li:nth-child(2) {
  background-position: -5px -57px;
}
.main .main-in .item .item-box .item-top .mask .mask-info {
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
}
.main .main-in .item .item-box .item-top .mask .mask-info .mask-title {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #fff;
}
.main .main-in .item .item-box .item-top .mask .mask-info .mask-title img {
  vertical-align: text-bottom;
}
.main .main-in .item .item-box .item-bottom {
  padding: 10px;
}
.main .main-in .item .item-box .item-bottom a {
  float: left;
  color: #333;
  background: #ccc;
  padding: 2px;
  border-radius: 3px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.main .main-in .item .item-box .item-bottom a img {
  width: 14px;
  vertical-align: text-bottom;
}
.main .main-in .item:hover .item-box {
  top: -5px;
}
.main .main-in .item:hover .item-box .item-top .title {
  display: none;
}
.main .main-in .item:hover .item-box .item-top .mask {
  display: block;
}
.main .main-in .item:hover .item-box .item-bottom {
  background: #f1f1f1;
}
.main .main-in .item:hover .item-box .item-bottom a {
  background: #fff;
}
